{% extends "base.html" %}
{%block title%} Delete Application {%endblock%}
{%block content%}
<div class="container mt-5">
    <div class="card shadow p-4 text-center">
        <h4>Are you sure?</h4>
        <p>You are about to delete application for <strong>{{ application.job.title }}</strong></p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'application_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{%endblock%}