{% extends "base.html" %} {%block content%}

<h2>Notifications</h2>
{% for n in notifications %}
<div class="card mb-2 {% if not n.is_read %} border-primary {%endif%}">
  <div class="card-body">
    <a
      href="{% url 'notifications_mark_as_read' n.id %}"
      class="text-decoration-none text-dark"
    >
      <div class="card mb-2 {% if not n.is_read %}border-primary{% endif %}">
        <div class="card-body">
          {% if not n.is_read %}
          <strong>{{ n.message }}</strong>
          {% else %} {{ n.message }} {% endif %}
        </div>
      </div>
    </a>
    <small>{{n.created_at}}</small>
  </div>
</div>
{%empty%}
<p>No notifications yet</p>
{% endfor %} {%endblock%}
